<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="app-toolbar mat-elevation-z6">
  <button mat-button (click)="sidenav.toggle()">Toggle</button>
  <span>Matt Zhan</span>
</mat-toolbar>
<mat-sidenav-container class="app-body">
  <mat-sidenav #sidenav mode="over">
    <ng-container *ngFor="let route of routes">
      <div *ngIf="route.data && route.data.title" [routerLink]="route.path">
        {{route.data.title}}
      </div>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-earthbound>
      <router-outlet></router-outlet>
    </app-earthbound>
  </mat-sidenav-content>
</mat-sidenav-container>

