<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <app-earthbound></app-earthbound>
  <mat-card-content>
    <section id="everything">
      <section id="not-canvas">
        <section id="forms">
          <div class="mw9 center ph3-ns">
            <div class="cf ph2-ns">
              <div class="fl w-100 w-50-ns pa2">
                <div class="pv2">
                  <form class="pa2 black-80">
                    <label for="layer1" class="f5 b db mv2 mb2">Layer 1</label>
                    <select id="layer1" class="w-100 db h2 f5 bg-near-white ba b--sliver">
                      <!-- generated in forms.js -->
                    </select>

                    <label for="layer2" class="f5 b db mv2 mb2">Layer 2</label>
                    <select id="layer2" class="w-100 db h2 f5 bg-near-white ba b--sliver">
                      <!-- generated in forms.js -->
                    </select>

                    <label for="suggested" class="f5 b db mv2 mb2">Suggested Layers</label>
                    <select id="suggested" class="w-100 db h2 f5 bg-near-white ba b--sliver">
                      <!-- generated in forms.js -->
                    </select>

                    <a id="randomLayer" class="pointer f5 link dim ba ph3 pv2 mv2 mb2 dib black">Random Layers</a>
                  </form>
                </div>
              </div>

              <div class="fl w-100 w-50-ns pa2">
                <div class="pv2">
                  <form class="pa2 black-80">
                    <label for="aspectRatio" class="f5 b db mv2 mb2">Aspect Ratio</label>
                    <select id="aspectRatio" class="w-100 db h2 f5 bg-near-white ba b--sliver">
                      <option value="0">Full (8:7)</option>
                      <option value="16">Wide Letterbox (4:3)</option>
                      <option value="48">Medium Letterbox (2:1)</option>
                      <option value="64">Narrow Letterbox (8:3)</option>
                    </select>

                    <label for="frameskip" class="f5 b db mv2 mb2">Frameskip</label>
                    <select id="frameskip" class="w-100 db h2 f5 bg-near-white ba b--sliver">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>

                    <div class="w-100 db h2 f5"></div>
                    <div class="w-100 db h2 f5"></div>

                    <a id="fullscreen" class="pointer f5 link dim ba ph3 pv2 mv2 mb2 dib black">Go fullscreen!</a> <span
                    class="f6">Hit <kbd>ESC</kbd> to exit.</span>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>


      </section>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>


