<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <app-earthbound #earthboundComponent
                  class="full-card-width"
                  [(layer1)]="layer1"
                  [(layer2)]="layer2"></app-earthbound>
  <mat-card-content>
    {{layer1}}
    {{layer2}}
    <mat-form-field>
      <mat-select [(value)]="layer1">
        <mat-option [value]="num" *ngFor="let num of layerNumbers">{{num}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(value)]="layer2">
        <mat-option [value]="num" *ngFor="let num of layerNumbers">{{num}}</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button (click)="setRandomLayers()">Random</button>
  </mat-card-actions>
</mat-card>


