/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './variables';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
@include angular-material-theme($bio-app-theme);

body {
  margin: 0;
}

.page-body {
  font-family: "Helvetica Neue";
  margin: $page-body-margin;

  &.center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.page-h1 {
  font-family: "Helvetica Neue";
  font-size: 2em;
  color: white;
  background-color: mat-color($bio-app-primary, 0.3);
  margin: 0;
  padding: 10px 50px;
}

.page-col {
  //flex: 1;
  //max-width: 50%;
  display: flex;
  flex-direction: column;
}

.example-card {
  max-width: 400px;

  margin-bottom: 50px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}