@import '~@angular/material/theming';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bio-app-primary: mat-palette($mat-purple, 700, 500, 900);
$bio-app-accent: mat-palette($mat-light-green, 700, 500, 900);

// The warn palette is optional (defaults to red).
$bio-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bio-app-theme: mat-light-theme($bio-app-primary, $bio-app-accent, $bio-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

$toolbar-height: 40px;
$page-body-margin: 2vw;
$card-margin: 16px;
$card-margin-x2: 32px;
$negative-card-margin: -16px;

.primary-background {
  color: white;
  background: mat-color($bio-app-primary);
}
